In [1]:
#PIP INSTALLATION
print('---1---')
%pip install pandas
print('---2---')
%pip install seaborn
print('---3---')
%pip install scikit-learn
print('---4---')
%pip install catboost
print('---5---')
%pip install ipywidgets
print('---6---')
%pip install pandas openpyxl

---1---
Requirement already satisfied: pandas in .\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in .\env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in .\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in .\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in .\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in .\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
---2---
Requirement already satisfied: seaborn in .\env\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in .\env\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in .\env\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in .\env\lib\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in .\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in .\env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in .\env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in .\env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
---3---
Requirement already satisfied: scikit-learn in .\env\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in .\env\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in .\env\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in .\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in .\env\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.
---4---
Requirement already satisfied: catboost in .\env\lib\site-packages (1.2.7)
Requirement already satisfied: graphviz in .\env\lib\site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in .\env\lib\site-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in .\env\lib\site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in .\env\lib\site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in .\env\lib\site-packages (from catboost) (1.14.1)
Requirement already satisfied: plotly in .\env\lib\site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in .\env\lib\site-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in .\env\lib\site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in .\env\lib\site-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in .\env\lib\site-packages (from pandas>=0.24->catboost) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in .\env\lib\site-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: cycler>=0.10 in .\env\lib\site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in .\env\lib\site-packages (from matplotlib->catboost) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in .\env\lib\site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in .\env\lib\site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in .\env\lib\site-packages (from matplotlib->catboost) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in .\env\lib\site-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in .\env\lib\site-packages (from plotly->catboost) (9.0.0)
Note: you may need to restart the kernel to use updated packages.
---5---
Requirement already satisfied: ipywidgets in .\env\lib\site-packages (8.1.5)
Requirement already satisfied: comm>=0.1.3 in .\env\lib\site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in .\env\lib\site-packages (from ipywidgets) (8.31.0)
Requirement already satisfied: traitlets>=4.3.1 in .\env\lib\site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.12 in .\env\lib\site-packages (from ipywidgets) (4.0.13)
Requirement already satisfied: jupyterlab-widgets~=3.0.12 in .\env\lib\site-packages (from ipywidgets) (3.0.13)
Requirement already satisfied: colorama in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: decorator in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.19.2)
Requirement already satisfied: matplotlib-inline in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.19.1)
Requirement already satisfied: stack_data in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: typing_extensions>=4.6 in .\env\lib\site-packages (from ipython>=6.1.0->ipywidgets) (4.12.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in .\env\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: wcwidth in .\env\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in .\env\lib\site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in .\env\lib\site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (3.0.0)
Requirement already satisfied: pure-eval in .\env\lib\site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (0.2.3)
Note: you may need to restart the kernel to use updated packages.
---6---
Requirement already satisfied: pandas in .\env\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in .\env\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in .\env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in .\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in .\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in .\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in .\env\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in .\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [97]:
#FROM LIBRARIES
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from catboost import CatBoostClassifier, Pool
from IPython.display import FileLink
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import classification_report
#IMPORT AS
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [3]:
file_path = 'Dataset/diabetic_data.csv'
df = pd.read_csv(file_path,keep_default_na=False)

In [4]:
df_clean = df.copy()

In [5]:
df_clean.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [6]:
df_clean.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [8]:
print(list(df_clean))

['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight', 'admission_type_id', 'discharge_disposition_id', 'admission_source_id', 'time_in_hospital', 'payer_code', 'medical_specialty', 'num_lab_procedures', 'num_procedures', 'num_medications', 'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted']

Data Cleaning

In [9]:
#REMOVING DUPLICATE DATA'S
df_clean['patient_nbr'].value_counts()

patient_nbr
88785891     40
43140906     28
1660293      23
88227540     23
23199021     23
             ..
11005362      1
98252496      1
1019673       1
13396320      1
175429310     1
Name: count, Length: 71518, dtype: int64

In [10]:
df_clean = df_clean.drop_duplicates(subset=['patient_nbr'])
#END REMOVING DUPLICATE DATA'S

There are 30,248 total of Duplicate Data's which the unique data consist only 71,518

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71518 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              71518 non-null  int64
 1   patient_nbr               71518 non-null  int64
 2   race                      71518 non-null  object
 3   gender                    71518 non-null  object
 4   age                       71518 non-null  object
 5   weight                    71518 non-null  object
 6   admission_type_id         71518 non-null  int64
 7   discharge_disposition_id  71518 non-null  int64
 8   admission_source_id       71518 non-null  int64
 9   time_in_hospital          71518 non-null  int64
 10  payer_code                71518 non-null  object
 11  medical_specialty         71518 non-null  object
 12  num_lab_procedures        71518 non-null  int64
 13  num_procedures            71518 non-null  int64
 14  num_medications           71518 non-null  int64
 15  number_outpatient         71518 non-null  int64
 16  number_emergency          71518 non-null  int64
 17  number_inpatient          71518 non-null  int64
 18  diag_1                    71518 non-null  object
 19  diag_2                    71518 non-null  object
 20  diag_3                    71518 non-null  object
 21  number_diagnoses          71518 non-null  int64
 22  max_glu_serum             71518 non-null  object
 23  A1Cresult                 71518 non-null  object
 24  metformin                 71518 non-null  object
 25  repaglinide               71518 non-null  object
 26  nateglinide               71518 non-null  object
 27  chlorpropamide            71518 non-null  object
 28  glimepiride               71518 non-null  object
 29  acetohexamide             71518 non-null  object
 30  glipizide                 71518 non-null  object
 31  glyburide                 71518 non-null  object
 32  tolbutamide               71518 non-null  object
 33  pioglitazone              71518 non-null  object
 34  rosiglitazone             71518 non-null  object
 35  acarbose                  71518 non-null  object
 36  miglitol                  71518 non-null  object
 37  troglitazone              71518 non-null  object
 38  tolazamide                71518 non-null  object
 39  examide                   71518 non-null  object
 40  citoglipton               71518 non-null  object
 41  insulin                   71518 non-null  object
 42  glyburide-metformin       71518 non-null  object
 43  glipizide-metformin       71518 non-null  object
 44  glimepiride-pioglitazone  71518 non-null  object
 45  metformin-rosiglitazone   71518 non-null  object
 46  metformin-pioglitazone    71518 non-null  object
 47  change                    71518 non-null  object
 48  diabetesMed               71518 non-null  object
 49  readmitted                71518 non-null  object
dtypes: int64(13), object(37)
memory usage: 27.8+ MB

Value of each drug that most patient uses

In [13]:
print(df_clean['metformin'].value_counts())
print("-----------------------------")
print(df_clean['repaglinide'].value_counts())
print("-----------------------------")
print(df_clean['nateglinide'].value_counts())
print("-----------------------------")
print(df_clean['chlorpropamide'].value_counts())

metformin
No        56527
Steady    13718
Up          838
Down        435
Name: count, dtype: int64
-----------------------------
repaglinide
No        70592
Steady      824
Up           73
Down         29
Name: count, dtype: int64
-----------------------------
nateglinide
No        71020
Steady      474
Up           16
Down          8
Name: count, dtype: int64
-----------------------------
chlorpropamide
No        71446
Steady       67
Up            4
Down          1
Name: count, dtype: int64

In [14]:
print(df_clean['glimepiride'].value_counts())
print("-----------------------------")
print(df_clean['acetohexamide'].value_counts())
print("-----------------------------")
print(df_clean['glipizide'].value_counts())
print("-----------------------------")
print(df_clean['glyburide'].value_counts())

glimepiride
No        67773
Steady     3372
Up          235
Down        138
Name: count, dtype: int64
-----------------------------
acetohexamide
No        71517
Steady        1
Name: count, dtype: int64
-----------------------------
glipizide
No        62412
Steady     8150
Up          578
Down        378
Name: count, dtype: int64
-----------------------------
glyburide
No        63664
Steady     6812
Up          621
Down        421
Name: count, dtype: int64

In [15]:
print(df_clean['tolbutamide'].value_counts())
print("-----------------------------")
print(df_clean['pioglitazone'].value_counts())
print("-----------------------------")
print(df_clean['rosiglitazone'].value_counts())
print("-----------------------------")
print(df_clean['acarbose'].value_counts())

tolbutamide
No        71499
Steady       19
Name: count, dtype: int64
-----------------------------
pioglitazone
No        66210
Steady     5047
Up          180
Down         81
Name: count, dtype: int64
-----------------------------
rosiglitazone
No        66817
Steady     4490
Up          136
Down         75
Name: count, dtype: int64
-----------------------------
acarbose
No        71316
Steady      192
Up           10
Name: count, dtype: int64

In [16]:
print(df_clean['miglitol'].value_counts())
print("-----------------------------")
print(df_clean['troglitazone'].value_counts())
print("-----------------------------")
print(df_clean['tolazamide'].value_counts())
print("-----------------------------")
print(df_clean['examide'].value_counts())

miglitol
No        71498
Steady       18
Down          1
Up            1
Name: count, dtype: int64
-----------------------------
troglitazone
No        71515
Steady        3
Name: count, dtype: int64
-----------------------------
tolazamide
No        71488
Steady       30
Name: count, dtype: int64
-----------------------------
examide
No    71518
Name: count, dtype: int64

In [17]:
print(df_clean['citoglipton'].value_counts())
print("-----------------------------")
print(df_clean['insulin'].value_counts())
print("-----------------------------")
print(df_clean['glyburide-metformin'].value_counts())
print("-----------------------------")
print(df_clean['glipizide-metformin'].value_counts())

citoglipton
No    71518
Name: count, dtype: int64
-----------------------------
insulin
No        34921
Steady    22129
Down       7505
Up         6963
Name: count, dtype: int64
-----------------------------
glyburide-metformin
No        71016
Steady      491
Up            7
Down          4
Name: count, dtype: int64
-----------------------------
glipizide-metformin
No        71511
Steady        7
Name: count, dtype: int64

In [31]:
print(df_clean['glimepiride-pioglitazone'].value_counts())
print("-----------------------------")
print(df_clean['metformin-rosiglitazone'].value_counts())
print("-----------------------------")
print(df_clean['metformin-pioglitazone'].value_counts())

glimepiride-pioglitazone
No    71518
Name: count, dtype: int64
-----------------------------
metformin-rosiglitazone
No        71516
Steady        2
Name: count, dtype: int64
-----------------------------
metformin-pioglitazone
No        71517
Steady        1
Name: count, dtype: int64

In [30]:
(df_clean.medical_specialty.value_counts(normalize=True, dropna=False) * 100)

medical_specialty
?                                   48.207444
InternalMedicine                    15.267485
Family/GeneralPractice               7.156240
Emergency/Trauma                     6.243184
Cardiology                           5.964932
                                      ...
SportsMedicine                       0.001398
Dermatology                          0.001398
Proctology                           0.001398
Surgery-PlasticwithinHeadandNeck     0.001398
Resident                             0.001398
Name: proportion, Length: 71, dtype: float64

Removing features that is not useful for our target readmittied

encounter_id  > Irrelevant 

Patient_nbr > Irrelevant

Weight > Consist of 97% missing value

Payer_code > Irrelevant

Medicial_Speciality > 48% missing value

Repaglinide	> 71K samples not using the drug

Nateglinide	> 71K samples not using the drug

Chlorpropamide > 71K samples not using the drug

Acarbose > 71k samples not using the drug

Miglitol > 71k samples not using the drug

Troglitazone > Only 3 patients using the drug

Tolazamide > Only 39 patients using the drug

Examide	> All patients not using the drug

Citoglipton	> All patients not using the drug

Glyburide_metformin	> 71k samples not using the drug

Glipizide_metfotmin > Only 13 patients using the drug

Glimepiride_pioglitazone > Only 1 patient using the drug

Metformin_rosiglitazone > Only 2 patients using the drug

Metformin_pioglitazone > Only 1 patient using the drug

Acetohexamide > Only 1 patient using the drug

tolbutamide > Only 23 patients using the drug

In [32]:
features_drop_list = ['encounter_id', 'patient_nbr', 'weight', 'payer_code', 'medical_specialty', 'repaglinide', 'nateglinide', 'chlorpropamide', 'acarbose', 'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton', 'glyburide-metformin', 'glipizide-metformin', 'glimepiride-pioglitazone', 'metformin-rosiglitazone','metformin-pioglitazone', 'acetohexamide', 'tolbutamide']
df_clean.drop(features_drop_list, axis=1, inplace=True)

In [34]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71518 entries, 0 to 101765
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   race                      71518 non-null  object
 1   gender                    71518 non-null  object
 2   age                       71518 non-null  object
 3   admission_type_id         71518 non-null  int64
 4   discharge_disposition_id  71518 non-null  int64
 5   admission_source_id       71518 non-null  int64
 6   time_in_hospital          71518 non-null  int64
 7   num_lab_procedures        71518 non-null  int64
 8   num_procedures            71518 non-null  int64
 9   num_medications           71518 non-null  int64
 10  number_outpatient         71518 non-null  int64
 11  number_emergency          71518 non-null  int64
 12  number_inpatient          71518 non-null  int64
 13  diag_1                    71518 non-null  object
 14  diag_2                    71518 non-null  object
 15  diag_3                    71518 non-null  object
 16  number_diagnoses          71518 non-null  int64
 17  max_glu_serum             71518 non-null  object
 18  A1Cresult                 71518 non-null  object
 19  metformin                 71518 non-null  object
 20  glimepiride               71518 non-null  object
 21  glipizide                 71518 non-null  object
 22  glyburide                 71518 non-null  object
 23  pioglitazone              71518 non-null  object
 24  rosiglitazone             71518 non-null  object
 25  insulin                   71518 non-null  object
 26  change                    71518 non-null  object
 27  diabetesMed               71518 non-null  object
 28  readmitted                71518 non-null  object
dtypes: int64(11), object(18)
memory usage: 16.4+ MB

ICD 9 codes

In [35]:
#start by setting all values containing E or V into 0 (as one category)
df_clean.loc[df_clean['diag_1'].str.contains('V',na=False,case=False), 'diag_1'] = 0
df_clean.loc[df_clean['diag_1'].str.contains('E',na=False,case=False), 'diag_1'] = 0
df_clean.loc[df_clean['diag_2'].str.contains('V',na=False,case=False), 'diag_2'] = 0
df_clean.loc[df_clean['diag_2'].str.contains('E',na=False,case=False), 'diag_2'] = 0
df_clean.loc[df_clean['diag_3'].str.contains('V',na=False,case=False), 'diag_3'] = 0
df_clean.loc[df_clean['diag_3'].str.contains('E',na=False,case=False), 'diag_3'] = 0

#setting all missing values into -1
df_clean['diag_1'] = df_clean['diag_1'].replace('?', -1)
df_clean['diag_2'] = df_clean['diag_2'].replace('?', -1)
df_clean['diag_3'] = df_clean['diag_3'].replace('?', -1)

#No all diag values can be converted into numeric values
df_clean['diag_1'] = df_clean['diag_1'].astype(float)
df_clean['diag_2'] = df_clean['diag_2'].astype(float)
df_clean['diag_3'] = df_clean['diag_3'].astype(float)

In [37]:
# First convert diagnosis columns to numeric type
df_clean['diag_1'] = pd.to_numeric(df_clean['diag_1'], errors='coerce')
df_clean['diag_2'] = pd.to_numeric(df_clean['diag_2'], errors='coerce')
df_clean['diag_3'] = pd.to_numeric(df_clean['diag_3'], errors='coerce')

# Define a function to categorize diagnosis codes
def categorize_diagnosis(series):
    conditions = [
        (series >= 1) & (series < 140),
        (series >= 140) & (series < 240),
        (series >= 240) & (series < 280),
        (series >= 280) & (series < 290),
        (series >= 290) & (series < 320),
        (series >= 320) & (series < 390),
        (series >= 390) & (series < 460),
        (series >= 460) & (series < 520),
        (series >= 520) & (series < 580),
        (series >= 580) & (series < 630),
        (series >= 630) & (series < 680),
        (series >= 680) & (series < 710),
        (series >= 710) & (series < 740),
        (series >= 740) & (series < 760),
        (series >= 760) & (series < 780),
        (series >= 780) & (series < 800),
        (series >= 800) & (series < 1000)
    ]
    
    choices = list(range(1, 18))
    
    # Handle missing values and set them to 0
    result = np.select(conditions, choices, default=0)
    return result

# Apply categorization to each diagnosis column
df_clean['diag_1'] = categorize_diagnosis(df['diag_1'])
df_clean['diag_2'] = categorize_diagnosis(df['diag_2'])
df_clean['diag_3'] = categorize_diagnosis(df['diag_3'])

In [84]:
#check the results
df_clean.diag_1.unique()

array([250.83, 276.  , 648.  ,   8.  , 197.  , 414.  , 428.  , 398.  ,
       434.  , 250.7 , 157.  , 518.  , 999.  , 410.  , 682.  , 402.  ,
       737.  , 572.  ,   0.  , 189.  , 786.  , 427.  , 996.  , 277.  ,
       584.  , 462.  , 473.  , 411.  , 174.  , 486.  , 998.  , 511.  ,
       432.  , 626.  , 295.  , 196.  , 250.6 , 618.  , 182.  , 845.  ,
       423.  , 808.  , 250.4 , 722.  , 403.  , 250.11, 784.  , 707.  ,
       440.  , 151.  , 715.  , 997.  , 564.  , 812.  ,  38.  , 590.  ,
       556.  , 578.  , 250.32, 433.  , 569.  , 185.  , 536.  , 255.  ,
       250.13, 599.  , 558.  , 574.  , 491.  , 560.  , 244.  , 250.03,
       577.  , 730.  , 188.  , 824.  , 250.8 , 332.  , 562.  , 291.  ,
       296.  , 510.  , 401.  , 263.  , 438.  ,  70.  , 250.02, 493.  ,
       642.  , 625.  , 571.  , 738.  , 593.  , 250.42, 807.  , 456.  ,
       446.  , 575.  , 250.41, 820.  , 515.  , 780.  , 250.22, 995.  ,
       235.  , 250.82, 721.  , 787.  , 162.  , 724.  , 282.  , 514.  ,
       281.  , 250.33, 466.  , 435.  , 250.12, 789.  , 566.  , 822.  ,
       191.  , 557.  , 733.  , 198.  , 455.  , 711.  , 482.  , 202.  ,
       280.  , 553.  , 225.  , 154.  , 441.  , 250.81, 349.  ,  -1.  ,
       962.  , 592.  , 507.  , 386.  , 156.  , 200.  , 728.  , 348.  ,
       459.  , 426.  , 607.  , 337.  ,  82.  , 530.  , 596.  , 288.  ,
       656.  , 531.  , 573.  , 492.  , 220.  , 516.  , 210.  , 922.  ,
       286.  , 885.  , 958.  , 661.  , 969.  , 250.93, 227.  , 404.  ,
       823.  , 532.  , 416.  , 346.  , 535.  , 453.  , 250.  , 595.  ,
       211.  , 303.  , 250.01, 852.  , 218.  , 782.  , 540.  , 457.  ,
       285.  , 431.  , 550.  ,  54.  , 351.  , 601.  , 723.  , 555.  ,
       153.  , 443.  , 380.  , 204.  , 424.  , 241.  , 358.  , 694.  ,
       331.  , 345.  , 681.  , 447.  , 290.  , 158.  , 579.  , 436.  ,
       335.  , 309.  , 654.  , 805.  , 799.  , 292.  , 183.  ,  78.  ,
       851.  , 458.  , 586.  , 311.  , 892.  , 293.  , 415.  , 591.  ,
       794.  , 803.  ,  79.  , 655.  , 429.  , 658.  , 598.  , 729.  ,
       585.  , 604.  , 727.  , 214.  , 444.  , 552.  , 284.  , 680.  ,
       708.  ,  41.  , 644.  , 481.  , 821.  , 413.  , 437.  , 968.  ,
       756.  , 359.  , 275.  , 512.  , 781.  , 278.  , 420.  , 368.  ,
       522.  , 294.  , 825.  , 135.  , 304.  , 320.  , 250.31, 669.  ,
       868.  , 250.43, 826.  , 567.  , 203.  ,  53.  , 251.  , 565.  ,
       161.  , 495.  ,  49.  , 250.1 , 297.  , 576.  , 850.  , 250.2 ,
       611.  , 840.  , 350.  , 726.  , 620.  , 180.  , 366.  , 783.  ,
        11.  , 751.  , 716.  , 250.3 , 199.  , 580.  , 664.  , 283.  ,
       287.  , 813.  , 496.  , 966.  , 289.  , 184.  , 480.  , 608.  ,
       972.  , 212.  , 117.  , 924.  , 537.  , 621.  , 785.  , 714.  ,
       942.  , 250.23, 710.  ,  47.  , 933.  , 508.  , 478.  , 333.  ,
         7.  , 736.  , 233.  ,  42.  , 250.5 , 397.  , 395.  , 201.  ,
       421.  , 253.  , 250.92, 494.  ,  39.  , 659.  , 312.  , 614.  ,
       647.  , 652.  , 646.  , 861.  , 425.  , 527.  , 600.  , 451.  ,
       485.  , 217.  , 442.  , 970.  , 959.  , 193.  , 160.  , 322.  ,
       581.  , 475.  , 788.  , 374.  , 582.  , 568.  , 465.  , 238.  ,
       801.  , 237.  , 376.  , 150.  , 461.  , 913.  , 226.  , 987.  ,
       641.  , 790.  , 336.  , 362.  , 228.  , 513.  , 355.  , 383.  ,
       746.  , 353.  , 911.  , 298.  , 155.  , 860.  , 534.  , 802.  ,
       141.  , 396.  , 310.  , 341.  , 242.  , 305.  , 719.  , 239.  ,
       616.  , 301.  ,   5.  , 965.  , 989.  , 230.  , 385.  , 300.  ,
       853.  , 871.  , 570.  , 463.  , 340.  ,   9.  , 112.  , 250.21,
       236.  , 361.  , 594.  , 501.  , 810.  , 643.  , 274.  , 430.  ,
       528.  , 205.  , 791.  , 983.  , 992.  , 519.  , 490.  , 172.  ,
       171.  , 622.  , 863.  , 864.  , 474.  , 660.  , 759.  ,   3.  ,
       356.  , 634.  , 967.  , 695.  , 187.  , 732.  , 323.  , 308.  ,
       370.  , 252.  , 152.  , 846.  , 164.  , 365.  , 718.  ,  48.  ,
       266.  , 344.  , 797.  , 170.  , 878.  , 977.  , 904.  , 882.  ,
       843.  , 709.  , 454.  , 686.  , 939.  , 487.  , 617.  , 483.  ,
       357.  , 692.  , 796.  , 533.  , 693.  , 935.  , 844.  , 800.  ,
       873.  , 920.  , 261.  , 307.  , 262.  , 250.9 , 145.  , 388.  ,
       223.  , 839.  , 685.  , 663.  , 464.  , 179.  , 964.  , 136.  ,
       334.  , 143.  , 526.  , 588.  , 917.  ,  88.  , 219.  , 325.  ,
       792.  , 747.  , 717.  , 994.  , 990.  , 793.  , 207.  , 637.  ,
       847.  ,  31.  , 306.  , 891.  , 814.  , 703.  , 865.  , 352.  ,
       378.  , 342.  , 886.  , 369.  , 745.  , 705.  , 934.  , 541.  ,
       986.  , 610.  , 633.  , 640.  , 753.  , 835.  , 551.  , 379.  ,
       445.  , 272.  , 382.  , 945.  , 619.  , 881.  , 394.  , 250.52,
       866.  , 831.  , 405.  , 916.  , 215.  , 893.  ,  75.  , 671.  ,
       816.  , 928.  , 906.  , 897.  , 725.  , 867.  , 115.  , 890.  ,
       734.  , 521.  , 623.  , 470.  , 834.  , 146.  , 524.  , 991.  ,
       691.  , 384.  , 142.  , 879.  , 250.51, 246.  , 848.  , 208.  ,
        34.  , 448.  , 955.  , 149.  , 245.  , 735.  , 883.  , 854.  ,
       952.  , 192.  , 838.  ,  35.  , 194.  , 163.  , 216.  , 147.  ,
       354.  ,  94.  ,  27.  , 477.  , 318.  , 880.  , 921.  , 377.  ,
       471.  , 683.  , 175.  , 602.  , 250.91, 982.  , 195.  , 706.  ,
       324.  , 375.  , 417.  , 131.  , 250.53, 347.  , 627.  , 720.  ,
       870.  , 936.  , 148.  , 862.  ,  61.  , 653.  , 817.  , 674.  ,
       914.  , 360.  , 684.  , 314.  ,  36.  , 173.  ,  57.  , 240.  ,
       915.  , 980.  , 815.  , 971.  , 795.  , 452.  , 963.  , 327.  ,
       842.  , 645.  , 665.  , 110.  , 944.  , 603.  , 412.  , 363.  ,
       957.  , 976.  , 299.  , 700.  , 923.  , 529.  , 836.  ,  66.  ,
        98.  , 605.  , 941.  ,  52.  , 806.  ,  84.  , 837.  , 657.  ,
       338.  , 542.  , 114.  , 696.  , 273.  , 583.  , 422.  , 615.  ,
       500.  , 903.  , 875.  , 229.  , 381.  , 632.  , 804.  , 704.  ,
       649.  , 832.  , 133.  , 975.  , 833.  , 391.  , 690.  ,  10.  ])

In [83]:
# 1. Basic value counts to see distribution of categories
print("Distribution of diagnosis 1 categories:")
print(df_clean['diag_1'].value_counts().sort_index())

Distribution of diagnosis 1 categories:
diag_1
-1.0        11
 0.0       928
 3.0        12
 5.0         8
 7.0         2
          ...
 995.0      52
 996.0    1125
 997.0     255
 998.0     457
 999.0      18
Name: count, Length: 680, dtype: int64

In [41]:
print("\nDistribution of diagnosis 2 categories:")
print(df['diag_2'].value_counts().sort_index())

Distribution of diagnosis 2 categories:
diag_2
0      2894
1      1931
2      2547
3     21017
4      2926
5      2657
6      1286
7     31365
8     10251
9      3962
10     7987
11      415
12     3596
13     1764
14      108
16     4632
17     2428
Name: count, dtype: int64

In [40]:
print("\nDistribution of diagnosis 3 categories:")
print(df['diag_3'].value_counts().sort_index())

Distribution of diagnosis 3 categories:
diag_3
0      6481
1      1861
2      1856
3     26308
4      2490
5      3136
6      1766
7     29918
8      6774
9      3572
10     6327
11      309
12     2488
13     1915
14       96
16     4523
17     1946
Name: count, dtype: int64

In [49]:
print(df_clean.head())

              race  gender      age  admission_type_id  \
0        Caucasian  Female   [0-10)                  6
1        Caucasian  Female  [10-20)                  1
2  AfricanAmerican  Female  [20-30)                  1
3        Caucasian    Male  [30-40)                  1
4        Caucasian    Male  [40-50)                  1

   discharge_disposition_id  admission_source_id  time_in_hospital  \
0                        25                    1                 1
1                         1                    7                 3
2                         1                    7                 2
3                         1                    7                 2
4                         1                    7                 1

   num_lab_procedures  num_procedures  num_medications  ...  metformin  \
0                  41               0                1  ...         No
1                  59               0               18  ...         No
2                  11               5               13  ...         No
3                  44               1               16  ...         No
4                  51               0                8  ...         No

   glimepiride  glipizide  glyburide  pioglitazone  rosiglitazone  insulin  \
0           No         No         No            No             No       No
1           No         No         No            No             No       Up
2           No     Steady         No            No             No       No
3           No         No         No            No             No       Up
4           No     Steady         No            No             No   Steady

  change diabetesMed readmitted
0     No          No         NO
1     Ch         Yes        >30
2     No         Yes         NO
3     Ch         Yes         NO
4     Ch         Yes         NO

[5 rows x 29 columns]

In [50]:
df_clean['race'] = df_clean['race'].replace('?', 'Other')

In [51]:
df_clean.race.value_counts()

race
Caucasian          53491
AfricanAmerican    12887
Other               3126
Hispanic            1517
Asian                497
Name: count, dtype: int64

In [52]:
print(df_clean['race'].isna())

0         False
1         False
2         False
3         False
4         False
          ...
101754    False
101755    False
101756    False
101758    False
101765    False
Name: race, Length: 71518, dtype: bool

In [53]:
df_clean.gender.value_counts()

gender
Female             38025
Male               33490
Unknown/Invalid        3
Name: count, dtype: int64

In [54]:
df_clean['gender'] = df_clean['gender'].replace('Unknown/Invalid', 'Female')
df_clean.gender.value_counts()

gender
Female    38028
Male      33490
Name: count, dtype: int64

In [55]:
df_clean.age.value_counts()

age
[70-80)     18210
[60-70)     15960
[50-60)     12466
[80-90)     11589
[40-50)      6878
[30-40)      2699
[90-100)     1900
[20-30)      1127
[10-20)       535
[0-10)        154
Name: count, dtype: int64

In [56]:
for i in range(0, 10):
    age_range = f'[{10*i}-{10*(i+1)})'
    midpoint = i*10 + 5
    df['age'] = df['age'].replace(age_range, midpoint)

C:\Users\SnowPlay\AppData\Local\Temp\ipykernel_11628\3365448648.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['age'] = df['age'].replace(age_range, midpoint)

In [57]:
df_clean['age'].value_counts()

age
[70-80)     18210
[60-70)     15960
[50-60)     12466
[80-90)     11589
[40-50)      6878
[30-40)      2699
[90-100)     1900
[20-30)      1127
[10-20)       535
[0-10)        154
Name: count, dtype: int64

In [58]:
df_clean.max_glu_serum.value_counts()

max_glu_serum
None    68062
Norm     1731
>200      969
>300      756
Name: count, dtype: int64

In [59]:
label_encoder = LabelEncoder()
df_clean['readmitted'] = label_encoder.fit_transform(df_clean['readmitted'])

In [60]:
X = df_clean.drop('readmitted', axis=1)  # Features
y = df_clean['readmitted']               # Target variable

In [61]:
cat_features = [index for index, dtype in enumerate(X.dtypes) if dtype == 'object']

In [62]:
print(X.iloc[:, cat_features].isnull().sum())

race             0
gender           0
age              0
max_glu_serum    0
A1Cresult        0
metformin        0
glimepiride      0
glipizide        0
glyburide        0
pioglitazone     0
rosiglitazone    0
insulin          0
change           0
diabetesMed      0
dtype: int64

In [63]:
# Save as Excel
df_clean.to_excel('clean_dataframe.xlsx', index=False, engine='openpyxl')

In [64]:
FileLink('clean_dataframe.xlsx')

d:\optimizing-catboost-model-with-bayesian\clean_dataframe.xlsx

Training Model

In [90]:
X_train, X_valtest, y_train, y_valtest = train_test_split(X, y, test_size=0.3, random_state=101)
X_val, X_test, y_val, y_test = train_test_split(X_valtest, y_valtest, test_size=0.5, random_state=101)

In [92]:
train_pool = Pool(data=X_train, label=y_train, cat_features=cat_features)
val_pool = Pool(
    data=X_val,           # Feature set for validation
    label=y_val,          # Target variable for validation
    cat_features=cat_features     # Specify indices of categorical features if present
)
test_pool = Pool(data=X_test, label=y_test, cat_features=cat_features)

In [93]:
# Step 5: Train the CatBoost model
model = CatBoostClassifier(
    loss_function = 'MultiClass',
    iterations=1000,          # Number of boosting rounds
    learning_rate=0.05,       # Step size shrinkage
    depth=6,                  # Depth of trees
    verbose=100              # Display training logs
)

In [94]:
model.fit(
    X_train, y_train,
    cat_features=cat_features,
    eval_set=(X_test, y_test),

)

0:	learn: 1.0776098	test: 1.0777598	best: 1.0777598 (0)	total: 110ms	remaining: 1m 50s
50:	learn: 0.8514527	test: 0.8539671	best: 0.8539671 (50)	total: 5.31s	remaining: 1m 38s
100:	learn: 0.8365138	test: 0.8427880	best: 0.8427880 (100)	total: 10.9s	remaining: 1m 37s
150:	learn: 0.8301892	test: 0.8391821	best: 0.8391821 (150)	total: 16.5s	remaining: 1m 32s
200:	learn: 0.8261884	test: 0.8374413	best: 0.8374332 (199)	total: 22.1s	remaining: 1m 27s
250:	learn: 0.8208505	test: 0.8355392	best: 0.8355392 (250)	total: 28.1s	remaining: 1m 23s
300:	learn: 0.8152538	test: 0.8329752	best: 0.8329752 (300)	total: 33.9s	remaining: 1m 18s
350:	learn: 0.8106115	test: 0.8316798	best: 0.8316798 (350)	total: 39.8s	remaining: 1m 13s
400:	learn: 0.8068081	test: 0.8307602	best: 0.8307462 (397)	total: 45.8s	remaining: 1m 8s
450:	learn: 0.8031975	test: 0.8298277	best: 0.8298202 (449)	total: 52.4s	remaining: 1m 3s
500:	learn: 0.7997367	test: 0.8291253	best: 0.8291223 (498)	total: 58.4s	remaining: 58.2s
550:	learn: 0.7963742	test: 0.8285822	best: 0.8285662 (549)	total: 1m 4s	remaining: 52.6s
600:	learn: 0.7933857	test: 0.8283413	best: 0.8283025 (589)	total: 1m 10s	remaining: 46.8s
650:	learn: 0.7906366	test: 0.8280801	best: 0.8280678 (647)	total: 1m 16s	remaining: 40.9s
700:	learn: 0.7877571	test: 0.8281087	best: 0.8280451 (661)	total: 1m 22s	remaining: 35s
750:	learn: 0.7851652	test: 0.8277778	best: 0.8277778 (750)	total: 1m 28s	remaining: 29.3s
800:	learn: 0.7825321	test: 0.8273555	best: 0.8273555 (800)	total: 1m 34s	remaining: 23.4s
850:	learn: 0.7794629	test: 0.8271795	best: 0.8271694 (846)	total: 1m 40s	remaining: 17.6s
900:	learn: 0.7767502	test: 0.8272245	best: 0.8271425 (897)	total: 1m 46s	remaining: 11.7s
950:	learn: 0.7743997	test: 0.8269452	best: 0.8269445 (949)	total: 1m 52s	remaining: 5.78s
999:	learn: 0.7719897	test: 0.8269116	best: 0.8269030 (969)	total: 1m 58s	remaining: 0us

bestTest = 0.8269030231
bestIteration = 969

Shrink model to first 970 iterations.

In [102]:
# Step 9: Make predictions
prediction = model.predict(X_val)

In [103]:
print('\nCatboost:')
print('-----------------------------------')
print('F1 Score        : ', metrics.f1_score(y_val, prediction,average='micro'))
print('Confusion Matrix:\n ', confusion_matrix(y_val, prediction))

Catboost:
-----------------------------------
F1 Score        :  0.6151193139448173
Confusion Matrix:
  [[  11  194  732]
 [   6  666 2718]
 [   6  473 5922]]

In [106]:
# Step 10: Evaluate the model
accuracy = accuracy_score(y_val, prediction)
print(f"Model Accuracy: {accuracy:.2f}")

Model Accuracy: 0.62

In [71]:
# Additional step: Visualize feature importance
feature_importances = model.get_feature_importance()
feature_names = X.columns
importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importances})
importance_df = importance_df.sort_values(by='Importance', ascending=False)

print(importance_df)

                     Feature  Importance
4   discharge_disposition_id   20.379270
13                    diag_1    8.012305
12          number_inpatient    7.195950
14                    diag_2    6.232519
2                        age    5.428857
15                    diag_3    5.289500
16          number_diagnoses    4.756848
7         num_lab_procedures    4.712187
5        admission_source_id    4.605473
3          admission_type_id    3.986480
6           time_in_hospital    3.938483
9            num_medications    3.908597
8             num_procedures    3.078356
10         number_outpatient    2.546531
11          number_emergency    2.203625
25                   insulin    1.922001
0                       race    1.779003
27               diabetesMed    1.550935
18                 A1Cresult    1.468835
19                 metformin    1.255925
1                     gender    1.084707
21                 glipizide    0.917814
23              pioglitazone    0.808475
17             max_glu_serum    0.699274
22                 glyburide    0.641117
24             rosiglitazone    0.592608
26                    change    0.552718
20               glimepiride    0.451607

In [39]:
model.save_model("catboost_model.cbm", format="cbm")